{% extends 'base.html' %} {% block main %}
<div class="column is-12">
    <section class="hero is-info is-smaill">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    使用说明
                </h1>
                <h2 class="subtitle">
                    <a href="#IOS" class="headerlink" title="IOS客户端安装"><u>IOS</u></a>
                    <a href="#Android" class="headerlink" title="Android客户端安装"><u>Android</u></a>
                    <a href="#Windows" class="headerlink" title="Windows客户端安装"><u>Windows</u></a>
                    <a href="#Mac" class="headerlink" title="Mac客户端安装"><u>Mac</u></a>
                    <a href="#Switch" class="headerlink" title="Switch客户端安装"><u>Switch</u></a>：
                </h2>
            </div>
        </div>
    </section>
</div>
<div class="column is-12">
    <div class="box">
        <div class="notification" id="IOS">
            <button class="delete"></button>
            <div class="post-content">
                <p><b>IOS客户端安装</b></p><br>
                <h1>第一步：下载安装爱思助手支持 Windows 和Mac</h1>
                <p> <a href="https://www.i4.cn/" target="_blank" rel="noopener">官网下载</a> 后安装。</p>
                <br>
                <h1>第二步：安装Shadowrocket</h1>
                <p> <a href="/static/soft/IOS_Shadowrocket_2.1.12.ipa" target="_blank" rel="noopener">下载Shadowrocket</a> 后。将下载的Shadowrocket拖到爱思助手的应用游戏页面，进行安装即可。</p>
                <br>
                <h1 id="第三步：使用Shadowrocket">第三步：使用Shadowrocket</h1>
                <p>1. 点左上角<code>1</code>添加，扫描二维码即可，请登陆后在[查看节点]获取二维码。</p>
                <p>2. 点右下角<code>2</code>开始，直接用就可以了。</p>
                <p><img src="/static/img/help/shadowrocket1.png" width="400" alt="V2RayNG"></p>
            </div>
        </div>

        <div class="notification" id="Android">
            <button class="delete"></button>
            <div class="post-content">
                <p><b>Android客户端安装</b></p><br>
                <h1>第一步：安装V2RayNG</h1>
                <p> <a href="/static/soft/v2rayNG_1.2.5.apk" target="_blank" rel="noopener">下载</a> 后安装。</p>

                <br>
                <h1>第二步：添加服务器节点</h1>
                <p>1. 点右上角<code>1</code>添加，使用[扫描二维码]即可，请登陆后在[查看节点]获取二维码。</p>
                <p>2. 点左上角<code>2</code>设置，设置->预定义规则->绕过局域网及大陆地区。</p>
                <p>3. 点右下角<code>3</code>开始，直接用就可以了。</p>
                <p><img src="/static/img/help/v2ray1.png" width="400" alt="V2RayNG"></p>
            </div>
        </div>

        <div class="notification" id="Windows">
            <button class="delete"></button>
            <div class="post-content">
                <p><b>Windows客户端安装</b></p><br>
                <h1>第一步：安装V2RayN</h1>
                <p> <a href="/static/soft/v2rayN-Core_3.18.zip" target="_blank" rel="noopener">下载</a> 后解压 ，运行v2rayN.exe。</p>

                <br>
                <h1>第二步：使用</h1>
                <p>1. 双击点开任务栏的v2ray，点击订阅，订阅设置，添加；</p>
                <p><img src="/static/img/help/v2rayn1.png" width="700" alt="V2RayN"></p>
                <p>2. 之后点击，订阅-更新订阅；</p>
                <p><img src="/static/img/help/v2rayn2.png" width="700" alt="V2RayN"></p>
                <p>3. 选择一个自己喜欢的节点，设置为活动服务器；</p>
                <p><img src="/static/img/help/v2rayn3.png" width="700" alt="V2RayN"></p>
                <p>4. 之后点击参数设置，设置默认pac模式；</p>
                <p><img src="/static/img/help/v2rayn4.png" width="700" alt="V2RayN"></p>
                <p>5. 最后启动代理，右键点击右下角的 v 图标，选择 开启PAC并自动设置PAC模式；</p>
                <p><img src="/static/img/help/v2rayn5.png" width="700" alt="V2RayN"></p>
            </div>
        </div>

        <div class="notification" id="Mac">
            <button class="delete"></button>
            <div class="post-content">
                <p><b>Mac客户端安装</b></p><br>
                <h1>第一步：安装V2RayU</h1>
                <p> <a href="/static/soft/V2rayU_2.2.0.dmg" target="_blank" rel="noopener">下载</a> 后安装。</p>

                <br>
                <h1>第二步：订阅</h1>
                <p>1. 右键点击出现在顶部栏中的「V2RayU」图标，在弹出菜单中选择「订阅设置」。</p>
                <p><img src="/static/img/help/v2rayu1.png" alt="V2RayU"></p>
                <p>2. 在后台查看订阅链接粘贴到「地址」栏中，点击「添加」，待订阅地址中出现订阅后，点击「更新」获取配置。配置添加完毕后，你可以再次右键选择顶部栏中的「V2RayU」图标，选择不同的服务器节点和代理方式。
                </p>
                <p><img src="/static/img/help/v2rayu2.png" alt="V2RayU"></p>
            </div>
        </div>

        <div class="notification" id="Switch">
            <button class="delete"></button>
            <div class="post-content">
                <p><b>Switch加速</b></p><br>
                <h1>Switch使用方法</h1>
                <p>注：第5步图中[服务器 端口 用户名 密码]，请到后台连接信息中查看。</p>
                <p><img src="/static/img/help/switch1.jpg" width="600" alt="switch"></p>
                <p><img src="/static/img/help/switch2.jpg" width="600" alt="switch"></p>
                <p><img src="/static/img/help/switch3.jpg" width="600" alt="switch"></p>
            </div>
        </div>

        <div class="notification is-success">
            <button class="delete"></button>
            <h2 class="title"> 注册了你就知道了 ʘʚʘ</h2>
        </div>
    </div>
</div>
{% endblock main %}